[Desktop Entry]
Name=Geometry Change
Comment=Animation for windows moved or resized by programs or scripts

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Peter Fajdiga
X-KDE-PluginInfo-Email=peter.fajdiga@gmail.com
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kwin4_effect_geometry_change
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/peterfajdiga/kwin4_effect_geometry_change

X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ConfigModule=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=geometry

